# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
[Uu]ser[Ss]ettings/
sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln*
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

# =============== #
# Custom #
# =============== #
Logs/
AssetImportWorker0-prev.log
AssetImportWorker1-prev.log
Packages-Update.log
shadercompiler-UnityShaderCompiler.exe0.log
.vs/
Logs/
Builds/